.pwd-out {
	padding: 5px;
}

button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#copy-btn {
	background-color: #4C77AF; /* Blue */
}

#generate-btn {
	background-color: #4CAF50; /* Green */
}